RULES!

1. The use or discussion of 3rd party software (hacks, cheats, color hacks, packet modification), bots, or bugs is not permitted.

2. Harsh offenses towards anybody, especially racist or highly offensive content will result in a ban or mute. In case of simple flaming players are advised to use the ignore function.

3. The official language on the "world" channel is English. Talking in another language or spamming on the world channel will result in a mute.

4. Multiple accounts are allowed, as long as the number and purpose is reasonable (Family, Multiboxing, Boosting). Each case will be reviewed at a case to case basis.

5. Lost items, gold, levels will not be returned no matter how the loss occurred. Same applies to disenchanted, accidentally sold or wrongly bought items, boss/mob loots, etc.

6. Selling accounts, gold, items or any other ingame material for real money is absolutely forbidden.

7. Advertising other WoW servers is absolutely forbidden.

8. Impersonation of a GM (game master) is considered a very serious offense. Also attacking, spamming, insulting or begging supporting game masters wont be tolerated. Note that every game master has a special blue tag, if you have any doubt that a person is a GM, ask them to turn their chat tag on. Also, no GM will EVER ask you for your account information or password, nor will we need them in order to help you.

9. Slaying unattackable players or NPC's with the usage of bugs is forbidden.

10. Your account here is a privilege, not a right. That privilege may be withdrawn at any time for any reason. In such a case, an appeal can be made via our forums.

11. Modification of the rules may occur at any time for any reason, and it is the responsibility of the players to check for updated rules from time to time. Ignorance of a changed rule is not a valid excuse for breaking it.